.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app{
  background-image: url(./../public/glassesImage/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.overplay{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: grey;
  opacity: .3;
}

.header{
  padding: 20px;
  background-color: black;
  opacity: .5;
  color: white;
  text-align: center;
  position: fixed;
  z-index: 9;
  width: 100%;
}

.user{
  padding: 150px 0 100px 0;
}

.img-model{
  max-width: 40%;
  position: relative;
  z-index: 9;
}

.change-glass{
  position: absolute;
  top: 67px;
  left: 237px;
  opacity: .7;
  max-width: 20%;
  z-index: 9;
}

.img-glass{
  max-width: 70%;
  padding: 10px;
  border: 1px solid rgba(42, 41, 41, 0.445);
  cursor: pointer;
  position: relative;
  z-index: 9;
}