.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app{
  background-image: url(./../public/glassesImage/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:fit-content;
}

.header{
  padding: 20px;
  background-color: black;
  opacity: .5;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
}

.user{
  padding-top: 150px;
}

.img-model{
  max-width: 40%;
}

.img-glass{
  max-width: 70%;
  padding: 10px;
  border: 1px solid rgba(42, 41, 41, 0.445);
}